# === WEBAPDB (Database) ===
DB_PASS=admin123

# === WEBAPPBACK (Backend) ===
PORT=3000
DATABASE_URL=postgresql://app_user:admin123@<IP_PRIVADA_WEBAPPDDB>:5432/ecommerce_db
JWT_SECRET=cambia_esto
UPLOADS_DIR=../uploads/productos

# === WEBAPPFRONT (Frontend) ===
VITE_API_URL=http://<IP_PUBLICA_WEBAPPBACK>:3000
